* {
    margin: 0;
    padding: 0;
}

.parteSuperior{
    width: 120em;
    height: 8.5625em;
    background-color: #1BE0B6;
    display: flex;
    align-items: center;
}

.imgLogo{
    width: 5.4375em;
    height: 5.4375em;
    margin-left: 0.9375em;
}

.imgTexto{
    width: 17.1875em;
    height: 3em;
    margin-left: 0.9375em;
}

.imgMedico{
    width: 120em;
    height: 55.4375em;
}

.medico{
    width: 120em;
    height: 54em;
    background-image: url(../../Imagens/doctor2.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocoListagem{
    width: 20.119375em;
    height: auto;
}

.tamanhoBloco{
    background-color: white;
    padding: 2.8em;
}

.posicaoListagem{
    display: flex;
    justify-content: center;
}

.textoListagem{
    font-size: 1.5em;
    display: flex;
    align-items: flex-end;
}